<div class="tableDistro">
    <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'max-width': '64rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <button class="btnGenerate" (click)="generatePieChart()">Generate Pie Chart</button>
    <div class="chartContainer">
        <!-- <h3 [ngClass]="rowTitle? 'showTitle' : 'hideTitle'">{{nameForRow}}</h3> -->
        <app-pie class="pie" [dataNumbers]="pieChartNumbers" [requestedPieChart]="pieChartReq"></app-pie>
    </div>
</div>