.pie {
    display: block;
    width: 200px;
    background-color: #dfffc557;
}

.tableDistro {
    display: grid;
    width: 85%;
    margin: auto;
    padding-top: 50px;
    grid-template-columns: 2.5fr 0.75fr;
    grid-template-rows: 1fr
}

.showTitle {
    display: block;
    justify-self: right;
}

.hideTitle {
    display: none;
}

.chartContainer {
    display: flex;
    justify-content: right;
}

.tableDistro .btnGenerate {
    margin-top: 20px;
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    justify-self: left;
}

.tableDistro .chartContainer {
    grid-column: 2 / 3;
    grid-row: -3 / -2;
}